# Настройки буферов ввода-вывода для DPAA (добавляются к официальному LPF ULX3S).
# Выходы к распределительной плате — медленные фронты (меньше звона в шлейфах).
# Входы от микрофонов — с подтяжкой к земле (микрофон отключает линию в правом слоте).
IOBUF PORT "gp[0]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[1]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[2]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[3]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[4]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[5]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[6]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[7]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[8]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[9]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[10]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[11]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[12]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[13]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[14]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[15]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[16]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[17]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gp[18]" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW;
IOBUF PORT "gn[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[14]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[15]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "gn[16]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
FREQUENCY PORT "clk_25mhz" 25 MHZ;
